@import "tailwindcss";

.topnav {
  background-color: black;
  overflow: hidden;
  border: 0.5px solid rgb(83, 4, 83);;
  border-radius: 0.5px;

}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.nav a.active {
  background-color:gray;
  color: white;
}
body{
  background-color:black;
  color:white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
input {
  width: 50%;
  background-color:gray;
  color:white;
  padding: 5px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input:hover {
  background-color:gray;
}
button{
    border: 2px solid gray;
    border-radius:10px;
  background-color: black;
  padding: 15px;
  color: white;
 cursor: pointer;
 border-color: black;

}
form {

background-color: black;
  padding: 5px;
  width: 50%;
  margin-left: 350px;
  margin-right: 40px;
color: whitesmoke;
 border: 0.5px solid gray; 
  border-radius: 10px;


}
label {display: block;}

.formDiv{
 border: 0.5px solid gray; 
 border-radius: 5px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(83, 4, 83);
  padding: 5px;
  gap: 5px;
}
.container-div {
  background-color: #f1f1f1;
  color: #000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}
.footer{
  background-color: black;
   border: 0.5px solid rgb(83, 4, 83);; 
   padding:20px;
}
